torch==2.5.1
accelerate
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
fire
peft
transformers==4.48.2
sentencepiece
py7zr
scipy==1.13.0
optimum
matplotlib==3.8.4
chardet
openai==1.59.8
typing-extensions>=4.8.0
tabulate
evaluate
rouge_score
pyyaml==6.0.1
faiss-gpu; python_version < '3.11'
unstructured[pdf]
sentence_transformers
codeshield

pandas==2.2.3
tiktoken==0.8.0
scikit-learn==1.4.2
pyreadstat==1.1.2
vllm==0.7.2
wandb==0.19.6
ipykernel